* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #1B3C59;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 2rem;
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

.main-content {
  width: 1140px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem 0 4rem;
  flex-grow: 1;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/**
 * logo style
**/

/**
 * Rimozione degli stili della lista
**/

.list-style {
  list-style: none;
}

/**
 *  Pulizia + Lista inline-flex
**/

/**
 *  Bottoni
**/

.btn-small {
  padding: 10px;
  border-radius: 5px;
}

.bt-green {
  color: #ffffff;
  background-color: #73d462;
}

/**
 *  Center flex
**/

.header-content {
  padding: 10px 10px 0;
}

.header-content .logo {
  height: 60px;
}

.header-content .actions {
  display: flex;
  align-items: center;
}

.header-content .actions a {
  text-transform: uppercase;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar .nav-menu {
  display: flex;
  list-style: none;
}

.nav-bar .nav-menu li {
  margin-right: 40px;
}

.nav-bar .nav-menu li a {
  color: #1B3C59;
  padding: 1rem;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-bar .nav-menu li a:hover,
.nav-bar .nav-menu li a.active {
  border-bottom: 2px solid #73d462;
}

.jumbotron {
  margin-top: 6rem;
  display: flex;
}

.jumbotron .jumbotron-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 60%;
}

.jumbotron .jumbotron-text h1 {
  font-size: 60px;
}

.jumbotron .jumbotron-text h1 span:first-of-type {
  font-weight: 300;
}

.jumbotron .jumbotron-text h1 span:last-of-type {
  display: block;
  font-weight: bold;
}

.jumbotron .jumbotron-text p {
  font-size: 25px;
  font-weight: bold;
}

.jumbotron .jumbotron-text ul {
  padding-left: 15px;
}

.jumbotron .jumbotron-text ul li {
  font-size: 18px;
  line-height: 1.5;
}

.jumbotron .jumbotron-text ul span {
  font-weight: 400;
}

.jumbotron .jumbotron-image {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron .jumbotron-image img {
  height: 200px;
}

.questions {
  display: flex;
}

.students {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.students .student {
  padding: 1rem;
  margin-bottom: 2rem;
  flex-basis: 48%;
  box-shadow: 0 8px 20px #000;
  border-radius: 15px;
}

.students a {
  text-decoration: none;
  color: #000000;
}

.footer {
  padding: 1rem 0 4rem 0;
  background: #1B3C59;
  color: #ffffff;
  font-weight: 400;
}

.footer .container {
  margin-top: 50px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
}

.footer .footer-sx img {
  height: 60px;
}

.footer .footer-sx h2 {
  margin-bottom: 10px;
}

.footer .footer-dx .footer-action {
  text-align: right;
  font-size: 20px;
}

.footer .footer-dx .footer-action li {
  margin-bottom: 8px;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

