* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #1B3C59;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 2rem;
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

.main-content {
  width: 1140px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem 0 4rem;
  flex-grow: 1;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.title-center {
  text-align: center;
}

/**
 * logo style
**/

/**
 * Rimozione degli stili della lista
**/

.list-style {
  list-style: none;
}

/**
 *  Pulizia + Lista inline-flex
**/

/**
 *  Bottoni
**/

.btn-small {
  padding: 10px;
  border-radius: 5px;
}

.bt-green {
  color: #ffffff;
  background-color: #73d462;
}

/**
 *  Center flex
**/

.header-container {
  padding: 10px 10px 0 10px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
}

.header-container .logo {
  height: 60px;
}

.header-container .actions {
  display: flex;
  align-items: center;
}

.header-container .actions a {
  text-transform: uppercase;
}

.header_menu-container {
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.header_menu-container .header_menu-list {
  display: flex;
  list-style: none;
}

.header_menu-container .header_menu-list li {
  margin-right: 40px;
}

.header_menu-container .header_menu-list li a {
  color: #1B3C59;
  padding: 16px 16px 21px 16px;
  font-size: 14px;
  text-transform: uppercase;
}

.header_menu-container .header_menu-list li a:hover,
.header_menu-container .header_menu-list li a.active {
  border-bottom: 2px solid #73d462;
}

.jumbotron {
  margin: 6rem 0;
  display: flex;
}

.jumbotron .jumbotron-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 60%;
}

.jumbotron .jumbotron-text h1 {
  font-size: 60px;
}

.jumbotron .jumbotron-text h1 span:first-of-type {
  font-weight: 300;
}

.jumbotron .jumbotron-text h1 span:last-of-type {
  display: block;
  font-weight: bold;
}

.jumbotron .jumbotron-text p {
  font-size: 25px;
  font-weight: bold;
}

.jumbotron .jumbotron-text ul {
  padding-left: 15px;
}

.jumbotron .jumbotron-text ul li {
  font-size: 18px;
  line-height: 1.5;
}

.jumbotron .jumbotron-text ul span {
  font-weight: 400;
}

.jumbotron .jumbotron-image {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron .jumbotron-image img {
  height: 200px;
}

.questions {
  display: flex;
}

body {
  background: #E8EBF1;
}

.student-title {
  font-size: 50px;
  padding-top: 20px;
  font-weight: 300;
}

.students {
  margin: 6rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.students .student {
  padding: 1rem;
  margin-bottom: 2rem;
  flex-basis: 48%;
  box-shadow: 0px 50px 16px lightgrey;
  border-radius: 5px;
  background: #ffffff;
}

.students .student header {
  display: flex;
}

.students .student header img {
  height: 100px;
  border-radius: 5px;
  margin-right: 10px;
}

.students .student header h2 {
  margin-bottom: 10px;
}

.students a {
  text-decoration: none;
  color: #000000;
}

.footer_section {
  padding: 5rem 0 4rem 0;
  color: #ffffff;
  background: #1B3C59;
  font-weight: 400;
}

.footer_section .footer_info {
  padding-bottom: 20px;
  border-bottom: 1px solid #ffffff;
  display: flex;
  justify-content: space-between;
}

.footer_section .footer_info-brand img {
  height: 60px;
}

.footer_section .footer_info-brand h2 {
  margin-bottom: 10px;
}

.footer_section .footer_info-brand ul {
  list-style: none;
  text-align: start;
}

.footer_section .footer_menu-list .footer-action {
  font-size: 20px;
  list-style: none;
  text-align: end;
}

.footer_section .footer_menu-list .footer-action li {
  margin-bottom: 8px;
}

.footer_section a {
  color: #ffffff;
}

.footer_section .footer_social ul {
  margin: 20px 0;
  display: flex;
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer_section .footer_social ul li {
  margin: 0 20px;
}

.footer_section .footer_social ul li i {
  font-size: 35px;
}

.footer_section .footer_social p {
  text-align: center;
}

