// General rule

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 2rem; 
}

p {
    margin-bottom: 1rem;
}

.main-content {
    width: 1140px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1rem 0 4rem;
    flex-grow: 1;
}

.list-style {
    list-style: none;
}