.footer_section {
    padding: 5rem 0 4rem 0; 
    color: $white;
    background: $blue;
    font-weight: 400;

    .footer_info {
        padding-bottom: 20px;
        border-bottom: 1px solid $white;
        @include justify(space-between);
    }

    .footer_info-brand {  
        img { height: 60px; }  
        h2 { margin-bottom: 10px; }
        ul { @include list-column (start) }
    }
    
    .footer_menu-list {
        .footer-action {
            font-size: 20px;
            @include list-column (end);
            li { margin-bottom: 8px; }
        }
    }
    
    a { color: $white; }

    .footer_social {
        ul {
            margin: 20px 0;
            @include list-inline;
            @include justify (center); 
            
            li {  
                margin: 0 20px;
                i { font-size: 35px; }
            }
        }
        
        p { text-align: center; }  
    }
}