.footer{
    padding: 1rem 0 4rem 0; 
    background: $blue;
    color: $white;
    font-weight: 400;

    .container-info {
        margin-top: 50px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $white;
    }

    .footer-sx {
       
       
        img {
            height: 60px;
        }  

        h2 {
           margin-bottom: 10px;
        }
    }
    
    .footer-dx {
        .footer-action {
            text-align: right;
            font-size: 20px;

            li {
                margin-bottom: 8px;
            }
        }
    }
    

    a {
        color: $white;
        text-decoration: none;
    }

    .social-list {
        @include list-inline;
        display: flex;
        justify-content: center;
        margin: 20px 0;

        li {  
            margin: 0 20px;
            i {
            font-size: 35px;
            }
        }
    }

    p {
        text-align: center;
    }
    
}