.footer{
    padding: 1rem 0 4rem 0; 
    background: $blue;

    .footer-content {
        max-width: 1140px;
        margin: 0 auto; 
        display: flex;
        justify-content: space-between;
    }

    .list-style {
        list-style: none;
        text-align: right;
    }

    a {
        color: $white;
        text-decoration: none;
    }
}