.header-container {
    height: 100px;
    width: 100%;
    position: fixed;
    padding: 0 15px 0 15px;
    background: $bg_header;
    @include flex($justify-direction:space-between, $align-direction:center);
    
    .header_nav-container {
        @include flex($justify-direction:space-around, $align-direction:center);
        .header_menu-list {
            @include list-inline();
            li {
                padding: 15px;
                margin-right: 20px;
                text-align: center;
               
                &:hover { border-bottom: 2px solid $border_bottom; }
                a { 
                    font-size: 13px;
                    text-transform: uppercase;
                    @include link-formatter($text_dark_blue); 
                }   
            }    
        }
    }
}