.header-container {
    padding: 10px 10px 0 10px;
    background: $white;
    @include logo_header;
    @include justify(space-between);

    .actions {
        @include align(center);
        a { text-transform: uppercase; }
    }
}

.header_menu-container {
    @include flex (center, center);

    .header_menu-list {
        @include list-inline;

        li {          
            margin-right: 40px;
            a {
                color: $blue;
                padding: 16px 16px 21px 16px;
                font-size: 14px;
                text-transform: uppercase;

                &:hover,
                &.active {
                    border-bottom: 2px solid $green;
                }
            }
        }
    }   
}

