.jumbotron {
    margin: 6rem 0;
    display: flex;

    .jumbotron-text {
        @include justify(flex-start);
        flex-direction: column;
        flex-basis: 60%;
        h1 {
            font-size: 60px;
            span:first-of-type { font-weight: 300; }
            span:last-of-type {
                display: block;
                font-weight: bold;
            }
        }

        p {
            font-size: 25px;
            font-weight: bold;
        }

        ul {
            padding-left: 15px;

            li {
                font-size: 18px;
                line-height: 1.5;   
            }

            span {
                font-weight: 400;
            }
        }
    }

    .jumbotron-image {
        
        flex-basis: 40%;
        @include flex (center, center);
        img {
            height: 200px;
        }
    }
}