// ---------- UTILITY
.container {
    max-width: 1140px;
    margin: 0 auto; 
}


/**
 * logo style
**/
@mixin logo_header {
    .logo {
        height: 60px;
    }  
}

/**
 * Rimozione degli stili della lista
**/
.list-style {
    list-style: none;
}

/**
 *  Pulizia + Lista inline-flex
**/
@mixin list-inline {
    display: flex;
    list-style: none;
}

/**
 *  Bottoni
**/

.btn-small {
    padding: 10px;
    border-radius: 5px;
}

.bt-green {
    color: $white;
    background-color: $green;
}

/**
 *  Center flex
**/

@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}