// ---------- UTILITY CONTROLLATE
@mixin align ($direction) {
    display: flex;
    align-items: $direction;
}

@mixin justify ($direction) {
    display: flex;
    justify-content: $direction;   
}

@mixin flex ($justify-direction:flex-start, $align-direction:flex-start) {
    display: flex;
    justify-content: $justify-direction;
    align-items: $align-direction;
}

@mixin list-inline {
    display: flex;
    list-style: none;
}

@mixin list-column ($text-align) {
    list-style: none;
    text-align: $text-align;
}

@mixin link-formatter($color) {
    text-decoration: none;
    color: $color
}

.logo { height: 60px; } 
.active { border-bottom: 2px solid $border_bottom; }
.btn-link { text-decoration: none }
.container {
    max-width: 1140px;
    margin: 0 auto; 
}
.bt-green {
    color: #fff;
    background-color: $bool_green;
}
.btn-small {
    padding: 10px;
    border-radius: 5px;
}
.title-center {
    text-align: center;
}

.list-style {
    list-style: none;
}



