// ---------- UTILITY CONTROLLATE
@mixin align ($direction) {
    display: flex;
    align-items: $direction;
}

@mixin justify ($direction) {
    display: flex;
    justify-content: $direction;   
}

// --- In attesa di eliminazione
@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
//-------------------------------
@mixin flex ($justify-direction, $align-direction) {
    display: flex;
    justify-content: $justify-direction;
    align-items: $align-direction;
}

@mixin logo_header {
    .logo {
        height: 60px;
    }  
}

// ----------UTILITY DA CONTROLLARE
.container {
    max-width: 1140px;
    margin: 0 auto; 
}

.title-center {
    text-align: center;
}


/**
 * logo style
**/


/**
 * Rimozione degli stili della lista
**/

@mixin list-column ($text-align) {
    list-style: none;
    text-align: $text-align;
}
.list-style {
    list-style: none;
}

/**
 *  Pulizia + Lista inline-flex
**/
@mixin list-inline {
    display: flex;
    list-style: none;
}

/**
 *  Bottoni
**/

.btn-small {
    padding: 10px;
    border-radius: 5px;
}

.bt-green {
    color: $white;
    background-color: $green;
}

/**
 *  Center flex
**/

