// Color 
    $bool_green: #73d462;

    // Color Background
    $bg_header : #fff;
    $bg_footer : #1B3C59;
    $bg_jumbotron_home : #fff;
    $bg_privacy_page: #fff; 
    $bg_ex_studenti_page: #E8EBF1;

    // Color text
    $text_dark_blue : #1B3C59;
    $text_footer : #fff;

    // Nav action
    $border_bottom :  #73d462;
 

